/**
 * Color variables
 */

$c-eigengrau:      #16161D;
$c-grau:           #eeeeee;
$c-graphite:       #666;
$c-silver:         #eee;
$c-white:          #fff;
$c-red:            #E00202;
$c-pink:           #b9b0f9;
$c-blue:           #7fbff4;
$c-black:          #16161D;
$c-green:          #33cfad;

$c-cover:          rgba(0,0,0,0.5);


