$padding-top-bottom: 100px 0;

body, html {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  color: $c-black;
  line-height: 1.5;


  /**
   * PX fallback for IE8, Opera Mini and older Androids
   * (px and not REM because of IE8)
   */
  font-size: 12px;
  font-size: 1vw; /* 10% of the browser width */

  @include breakpoint(tablet) {
    font-size: 16px;
    font-size: 1.5vw; /* 15% of the browser width */
  }

  @include breakpoint(mobile) {
    font-size: 20px;
    font-size: 2vw; /* 30% of the browser width */
  }
}

a {
  color: $c-silver;
}

section {
  padding: $padding-top-bottom;
  margin: 0;

  p {
    font-size: 18px;
    padding: 0;
    margin: 0;
  }
}

h1 {
  font-size: 6rem;
  font-weight: 800 !important;
}

h2 {
}

h3 {
  font-size: 18px;
}

.avatar {
  border-radius: 50%;
}

blockquote {
  font-size: 22px;
}

.about {
  background-color: $c-pink;
  color: $c-black;
}

.benefits {
  background-color: $c-white;
  color: $c-black;
}

ul {
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.testimonial {
  background-color: $c-grau;
}

.competences {
  background-color: $c-blue;
  color: $c-black;

  .competences-listing {

    li {
      padding: 20px 0;
    }
  }

  .competences-header {
    padding: $padding-top-bottom;
  }
}

footer {
  padding: $padding-top-bottom
}
